{% for directory in share_directories %}
{% set client_with_options = [] %}
{% for client in directory.allowed_clients  %}
{{ client_with_options.append( client +"(" + directory.options | join(",") + ")" ) }}
{% endfor %}
{{ directory.path }} {{ client_with_options | join(" ") }}
{% endfor %}